body{
    font-family: sans-serif;
    background-color: #f0f6ff;
    margin: 20px;
}
.flex-container {
    border: 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:40px;
    margin:20px;
}

.box{
    text-align: center;
    background-color: a;
    border: 2px solid rgb(8, 1, 20);
    border-radius: 8px;
    height: 350px;
    width: 300px;
}