*{
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:20px;
    background-color: peachpuff;
}
h1{
    text-align: center;
    color: rgb(2, 2, 80);
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card{
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    border: 2px lightslategray;
}
.card:hover {
    transform: scale(1.10);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.card img{
    width: 100%;
    height: 180px;
    object-fit: contain;
}
.card h3{
    color: blue;
    text-align: center;
}
.card p{
    color: #33013f;
    text-align: center;
}
.price{
    color: green;
    font-weight: bold;
    font-size: 18px;
}
.addbutn{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px,15px;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (min-width: 1024px){
    .container{
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (max-width: 1024px) and (min-width: 600px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media  screen and (max-width: 600px) {
    .container{
        grid-template-columns: 1fr;
    }
}