body{
    background-color: antiquewhite;
    margin: 20px;
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    color: #2b124c;
    font-weight: bold;
}
h3{
    text-align: left;
    color: #1f4fff;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.block a{
    display: block;
    background-color: #1f5fa3;
    width: 100%;
    padding: 10px;
    margin:5px 0;
}
.inline a{
    display: inline;
    background-color: #2e7d32;
    padding: 8px 15px;
}
.inlineblock a{
    display:inline-block;
    background-color: #6a1b9a;
     padding: 8px 15px;
     margin-right: 8px;;
}
.float a{
    float: left;
    background-color: #b45309;
    padding: 8px 15px;
    margin-right: 8px;
}
.clear {
    clear:both;
    background-color: white;
    color: white;
    padding: 10px;
    margin: 8px;
}
