* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #f0f9ff, #f0fdfa);
}

.header {
    background:linear-gradient(90deg, #0f766e, #1e40af) ;
    padding: 25px 20px;
}

.header-content {
    display: flex;
    flex-direction: column;   
    align-items: center;
    text-align: center;
}

.logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 8px;
}

.header-text h1 {
    color: #f0fdf4;
    margin-bottom: 4px;
}

.header-text p {
    color: #dcfce7;
    font-size: 14px;
}

.info-bar {
    background-color: #fdecec;   
    color: #9f1239;
    text-align: center;
    padding: 8px;
    font-size: 14px;
}

.navbar {
    background-color: #fef9c3;   
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #fde047;
}

.navbar a {
    color: #14532d;
    margin: 0 18px;
    text-decoration: none;
    font-weight: 600;
}

.navbar a:hover {
    color: #15803d;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(30, 58, 138, 0.15);
    margin-bottom: 35px;
}

.card h2 {
    margin-bottom: 15px;
    border-left: 5px solid #14b8a6;
    padding-left: 10px;
    color: #1e3a8a;
}

.instructions li {
    margin: 8px 0;
    color: #334155;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 12px;
    font-weight: 600;
    color: #1e293b;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #99f6e4;
}

input:focus, select:focus {
    outline: none;
    border-color: #14b8a6;
}

button {
    margin-top: 22px;
    padding: 12px;
    background: linear-gradient(90deg, #2563eb, #14b8a6);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(20, 184, 166, 0.35);
}


.result-box {
    width: 320px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0 12px 25px rgba(30, 58, 138, 0.2);
    text-align: center;
    display: none;
}

#result:target {
    display: block;
}

.result-box h3 {
    margin-bottom: 12px;
    color: #1e3a8a;
}

.status {
    color: #15803d;
    font-weight: bold;
    margin-top: 10px;
}


.close-btn {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #2563eb;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
}

footer {
    background: linear-gradient(90deg, #0f766e, #1e40af);
    color: #ecfeff;
    text-align: center;
    padding: 14px;
    margin-top: 40px;
}