body {
            background-color: #e9f1f7 ;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #222;
            text-align: center;
            margin-top: 20px;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }
        .card {
            background: floralwhite;
            border: 2px solid #0b2a4a;
            border-radius: 10px;
            box-shadow: 0 6px 15px rgba(0,0,0,0.15);
            padding: 15px;
            width: 320px;
            text-align: center;
        }
        .card img {
            width: 150px;
            height: 150px;
            object-fit: contain;
            margin-bottom: 16px;
        }
        h2{
            color: #0b2a4a;
        }
        .price {
            color: #198754;
            font-weight: bold;
            margin: 8px 0;
        }
        .add-btn {
            background: #0d6efd;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 18px;
            margin-top: 16px;
            cursor: pointer;
            font-size: 16px;
        }
        .desc {
            color: #555;
            font-size: 14px;
            margin: 12px 0 0 0;
        }